<!DOCTYPE html>
<html data-ng-app="app">
<head>
    <title>web CellHTS2 v2</title>

    <!-- Styles -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/angular-wizard.css" rel="stylesheet">
	<link href="css/toastr.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!-- navbar -->

<nav class="navbar navbar-default" role="navigation" data-ng-controller="NavBarCtrl">
    <div class="container-fluid">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav">
                <li class="active">
					<a href="#">Home</a>
				</li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">File<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Load</a></li>
                        <li><a href="#">Save</a></li>
                        <li><a href="#">Restart</a></li>
                        <li class="divider"></li>
                        <li><a href="#" data-ng-click="showCurrentRScript()">Show current R script</a></li>
						<li><a href="#">Generate R script</a></li>
                        <li class="divider"></li>
                        <li><a href="#">bla</a></li>
                    </ul>
                </li>
                <li>
					<a href="#"  data-ng-click="openConfigModal()" >Configuration</a>
				</li>
				<li>
                	<a href="#">Info</a>
				</li>
				<li>
            		<a href="#">Manual</a>
				</li>
				<li>
        			<a href="#">Tutorial</a>
				</li>
				<li>
    				<a href="#">Downloads</a>
				</li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<!-- end of navbar-->

<!-- wizard -->
<!-- MAIN CONTENT -->

<div id="main_content_wrap" class="outer">
    <section id="main_content" class="inner main-inner" data-ng-controller="WizardCtrl">
        <wizard on-finish="finished()">
            <step title="Start">
				<h3>Introduction</h3>
				web cellHTS2 is a front end for cellHTS2 for an end-to-end analysis of cell-based high-throughput
				screening experiments.
				The online version allows to analyse single and dual channel experiments using all features of cellHTS2.
				web cellHTS2 guides the user through all analysis options and outputs a HTML including a full quality
				control report and a ranked hitlist.
				A downloadable package for local installation can be found 
				<a target="_blank" href="http://www.dkfz.de/signaling/cellHTS/web-project/binary.html">here</a>.
				<br><br>
				cellHTS2 is a software package implemented in Bioconductor/R for cell-based high-throughput RNAi
				screens.
				The cellHTS2 package is an updated version of the cellHTS package,
				offering a broader set of normalization functionality and the integration of multi-channel screens.
				<br>
				A set of example files can be downloaded from the online tutorial 
				<a target="_parent" href="http://rnai-screening-wiki.dkfz.de/signaling/wiki/display/rnaiwiki/web+cellHTS2+quickstart+guide">here</a>. Additional sample files can also be found in the latest cellHTS2 source package (in source folder: inst) <a target="_parent" href="http://www.bioconductor.org/packages/devel/bioc/html/cellHTS2.html">here</a>.
				<br>
                <br><br><b>Start of a web cellHTS2 session</b><br><br><!-- we use these divs to enable/disable content -->
				Load previous session or start a new session (download example session <a target="_parent" href="http://www.dkfz.de/signaling/cellHTS/web-project/binary/JOB33761_PERSISTENT">
				link</a>)
				<br>
				(For more information click <a target="_blank" href="http://rnai-screening-wiki.dkfz.de/signaling/wiki/display/rnaiwiki/web+cellHTS2+Manual#webcellHTS2Manual-step1">here</a>)
				<span id="tooltip1">
					<input id="sessionFileUploadInput" name="sessionFileUploadInput" type="file"> 
				</span>
				<b>Step 1:</b> Select type of experiment<br/>
				<select id="channel" name="channel" data-ng-model="stepStart.channel" data-ng-change="stepStartChangeChannel()">
					<option selected="selected" value="">please select</option>
					<option value="single_channel">Single Channel</option>
					<option value="dual_channel">Dual Channel</option>
				</select>
				<div data-ng-show="stepStart.showChannelDesc">	
					<input type="text" data-ng-model="stepStart.channel1Name" />
					<input type="text" data-ng-model="stepStart.channel2Name" />
				</div>
				<p>	
				<input type="button" data-ng-click="validateStepStart()" value="Click here to continue"/>
				</p>
			</step>
            
			<step title="Plate Configuration">
				<b>Step 2:</b> Upload and assign data files to channels and replicates (
				<a target="_blank" 					href="http://rnai-screening-wiki.dkfz.de/signaling/wiki/display/rnaiwiki/web+cellHTS2+Manual#webcellHTS2Manual-uploaddatafiles">
					help
				</a>).
				<br>
				<p>Data Files can be uploaded as raw plate reader, text files in cellHTS2 format or ZIP archives (recommended). </p>
				<p>Alternatively, the
				Advanced FileImporter module can be used for more complex file types (<a href="http://rnai-screening-wiki.dkfz.de/signaling/wiki/display/rnaiwiki/AdvancedFileImporterManual">help</a>).
				</p>
				<a href="#advancedFileImporter">
					Advanced File Importer
				</a>
				<input id="dataFileUploadInput" name="dataFileUploadInput" type="file">
				Filename Parsing:
				<input checked="checked" id="inplacecheckbox" type="checkbox">
                <input type="button" wz-next="logStep()" value="Click here to continue" />
            </step>
			
            <step title="More steps">
                <h1>More steps</h1>
                <p>Click on the bottom navigation on Liking it to go back to that step for example</p>
                <input type="button" wz-next value="Click here to continue" />
            </step>
            <step title="Even more">
                <h1>Even More steps</h1>
                <p>I can't deal with so many steps. ARGH</p>
                <input type="button" wz-next value="Click here to continue" />
            </step>
            <step title="Sup?">
                <h1>Sup?</h1>
                <p>I don't even know what to write!</p>
                <input type="button" wz-next value="Click here to continue" />
            </step>
            <step title="Finish him">
                <h1>Finish him</h1>
                <p>Finally this ends!</p>
                <input type="button" wz-next value="Click here to end" />
                <input type="button" data-ng-click="goBack()" value="Click here to start again" />
            </step>
        </wizard>
    </section>
</div>

<!-- end of wizard-->

<!-- Bootstrap jQuery Plugins, compiled and minified -->

<script src="js/includes/jquery-1.11.0.min.js"></script>
<script src="js/includes/angular.1.2.13.min.js"></script>
<script src="js/includes/ui-bootstrap-tpls-0.10.0.min.js"></script>
<script src="js/includes/lodash.js"></script>
<script src="js/includes/angular-wizard.js"></script>
<script src="js/includes/sprintf.min.js"></script>

<!--<script src="js/includes/angular-route.min.js"></script>-->
<script src="js/includes/toastr.min.js"></script>

<script src="js/config.js"></script>

<script src="js/retrieveServerInfo.js"></script>

<!--<script src="js/routes.js"></script>-->

<!-- import services-->
<script src="js/services/sharedDataService.js"></script>


<!-- import controllers -->
<script src="js/controllers/wizardCtrl.js"></script>
<script src="js/controllers/advancedFileImporter.js"></script>
<script src="js/controllers/programSettings.js"></script>
    
<script src="js/controllers/navBarCtrl.js"></script>
<!-- load cellhts2 config files -->
<!-- todo: this will be moved to  ONE js file which will load the other ones -->
<script src="js/cellHTS2Version/2.10.js"></script>
<script src="js/cellHTS2Version/2.16.js"></script>

<script src="js/cellHTS2Version/current.js"></script>
<script src="js/cellHTS2Version/scriptOutput.js"></script>




</body>
</html>